@font-face {
	font-family: 'RubikOne';
	src: url('../fonts/RubikOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid_Circular_bold';

	src: url('../fonts/Euclid_Circular_A_Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid_Circular_Light';
	src: url('../fonts/Euclid_Circular_A_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid_Circular_semi';
	src: url('../fonts/Euclid_Circular_A_SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
